body {
  background-color: #fffbf7;
}

main {
  margin-top: 285px;
  text-align: center;
}

.fixed-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #fffbf7;
}

.header {
  margin: 40px 20px 0px 20px;
  font-size: 0;
  height: 45px;
  font-family: sans-serif;
}

.header > * {
  display: inline-block;
  font-size: 16px;
  height: 100%;
  line-height: 45px;
}

.logo {
  width: 15%;
}

.logo > img {
  height: 100%;
}

.navbar {
  width: 70%;
  text-align: center;
  color: #025157;
  font-weight: 500;
}

.actions {
  width: 15%;
  text-align: right;
  font-size: 14px;
  font-weight: 600;
}

.actions > * {
  margin: 0px 10px 0px 10px;
}

.actions > a {
  color: #67b54b;
}

.actions > button {
  color: white;
  background-color: #67b54b;
  padding: 12px 14px 12px 14px;
  border: 0px;
  border-radius: 5px;
}

li {
  display: inline;
  margin: 0px 15px 0px 15px;
}

h1 {
  text-align: center;
  color: #8b8b8bcc;
  font-family: "Alegreya", serif;
  font-size: 60px;
  margin-bottom: 24px;
  border: solid;
  border-width: 3px;
  border-color: red;
  border-radius: 20px;
}

p {
  color: #46484c;
}

button {
  color: #fff;
  background-color: #025157;
}

.promo {
  display: flex;
  max-width: 70%;
  margin: 100px auto;
  align-items: center;
}

.explanatory-video {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.explanatory-video img {
  width: 120px;
  margin-top: 10px;
}

.publish {
  flex: 1;
}

.publish h3 {
  font-family: "Alegreya", serif;
  font-size: 40px;
  line-height: 48px;
  color: #025157;
}

.publish > p {
  font-size: 16px;
  color: #343434;
  line-height: 1.5;
  margin-bottom: 20px;
}

.publish > form {
  display: flex;
}

.publish > form p {
  color: #025157;
  margin-right: 18px;
}

.features {
  display: grid;
  grid-template: repeat(2, 330px) / repeat(2, 1fr);
  background-color: #025157;
  padding: 5% 10%;
}
.features .feature-card {
  margin-bottom: 30px;
  margin-left: 15px;
  margin-right: 15px;
  background-color: #fff;
  border: 1px solid #dadada;
  border-radius: 5px;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.features .feature-card .feature-content {
  padding: 30px 20px 40px 40px;
  flex: 2;
}

.features .feature-card .feature-content > * {
  margin-bottom: 1rem;
  margin-top: 0;
}

.features .feature-card .feature-content img {
  width: 50px;
}

.features .feature-card .feature-content h3 {
  font-size: 24px;
  color: #343434;
  font-weight: 400;
}

.features .feature-card .feature-content p {
  font-size: 16px;
  color: #7e7e7e;
  font-weight: 400;
}

.features .feature-card .feature-content a {
  font-size: 16px;
  color: #67b54b;
  font-weight: 600;
  text-decoration: none;
}

.features .feature-card .feature-image {
  flex: 1;
  width: 40%;
  position: relative;
  right: -50px;
  height: 80%;
}

.features .feature-card .feature-image figure,
.features .feature-card .feature-image img {
  margin-top: 0;
  height: 100%;
}

.success-stories {
  background-color: #a1d683;
  padding: 5% 15%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.success-stories .overview {
  flex: 2;
  padding-right: 100px;
}

.title {
  font-family: "Alegreya", serif;
  font-size: 51px;
  line-height: 61px;
  color: #025157;
  margin-bottom: 8px;
}

.success-stories .overview p {
  color: #343434;
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 1rem;
}

.success-stories .overview button {
  font-size: 14px;
  padding: 12px 12px 6px 12px;
  border-radius: 8px;
  height: 45px;
  font-weight: 600;
  margin-left: 0;
}

.success-stories .overview img {
  width: 500px;
  max-width: 100%;
}

.success-stories .stories-carousel {
  flex: 1;
}

.success-stories .stories-carousel .card {
  max-width: 370px;
  width: 100%;
  background-color: #fff;
  border-radius: 10px;
}

.success-stories .stories-carousel .card .card-media img {
  width: 100%;
  max-height: 16vw;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.success-stories .stories-carousel .card .card-media figure {
  margin-top: 0;
}

.success-stories .stories-carousel .card .card-media {
  position: relative;
}
.success-stories .stories-carousel .card .card-media .company {
  position: absolute;
  bottom: -20px;
  right: 20px;
  width: 100px;
  height: 100px;
  background-color: #f9da73;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.success-stories .stories-carousel .card .card-media .company img {
  max-width: 75%;
}

.success-stories .stories-carousel .card .card-body,
.success-stories .stories-carousel .card .card-footer {
  padding: 25px;
}

.success-stories .stories-carousel .card .card-body h4 {
  color: #025157;
  font-size: 18px;
  font-weight: 600;
  line-height: 20px;
  margin-bottom: 12px;
}

.success-stories .stories-carousel .card .card-body h3 {
  font-size: 25px;
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 20px;
}

.success-stories .stories-carousel .card .card-body .results {
  display: flex;
  align-items: center;
  color: #828282;
}

.success-stories .stories-carousel .card .card-body .results img {
  width: 26px;
  margin-right: 20px;
}

.success-stories .stories-carousel .card .card-footer button {
  display: block;
  margin-left: 0;
  border-radius: 5px;
  font-size: 13;
  font-weight: 600;
  padding: 12px 20px;
  width: 100%;
}

.how-matcha-works {
  background-color: #fffbf7;
  padding: 5% 10%;
  text-align: center;
}

.how-matcha-works .description {
  max-width: 60%;
  color: #46484c;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  margin: 0 auto;
  margin-bottom: 16px;
}

.how-matcha-works .description a {
  color: #67b54b;
  text-decoration: none;
}

.how-matcha-works button {
  font-size: 14px;
  font-weight: 600;
  padding-top: 12px 12px 6px 12px;
  height: 45px;
  margin-left: 0;
  border-radius: 8px;
  margin-top: 6px;
}

.how-matcha-works .defining-how {
  margin-top: 70px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.how-matcha-works .defining-how .how-card {
  background-color: #fff;
  border: 1px solid #dadada;
  border-radius: 5px;
  margin-left: 20px;
  margin-right: 20px;
  text-align: left;
}

.how-matcha-works .defining-how .how-card .how-card-image {
  position: relative;
  height: 350px;
}

.how-matcha-works .defining-how .how-card .how-card-image .how-card-icon {
  position: absolute;
  top: 25px;
  left: 25px;
  width: 21px;
}

.how-matcha-works .defining-how .how-card .how-card-image .how-card-bg {
  width: 100%;
  height: 100%;
}

.how-matcha-works .defining-how .how-card .how-card-body {
  padding: 25px;
}

.how-matcha-works .defining-how .how-card .how-card-body h3 {
  font-family: "Alegreya", serif;
  font-size: 30px;
  line-height: 36px;
  color: #025157;
  font-weight: 400;
  text-align: center;
}

.how-matcha-works .defining-how .how-card .how-card-body p {
  font-size: 15px;
  line-height: 1.5;
  color: #46484c;
  font-weight: 400;
  height: 85px;
  margin-bottom: 16px;
}

.how-matcha-works .defining-how .how-card .how-card-body a {
  font-size: 16px;
  line-height: 1.4;
  color: #67b54b;
  font-weight: 600;
  text-decoration: none;
}
