body {
  background-color: #fffbf7;
}

.header {
  margin: 40px 20px 0px 20px;
}

.header > * {
  display: inline-block;
}

nav {
  width: 50%;
}

li {
  display: inline;
}

h1 {
  text-align: center;
  color: #8b8b8bcc;
  font-family: "Alegreya", serif;
  font-size: 60px;
  margin-bottom: 24px;
  border: solid;
  border-width: 3px;
  border-color: red;
  border-radius: 20px;
}

p {
  color: #46484c;
}

button {
  color: #fff;
  background-color: #025157;
}

#div-prueba {
  background-color: purple;
  width: 50%;
  height: 300px;
  margin-top: 50px;
  border: solid blue;
  padding: 10px 15px 12px;
}
